*.log
*.aux
*.lot
*.gz
main.log
main.pdf
cap-01.aux
	cap-02.aux
	cap-03.1.aux
	cap-03.aux
	cap-04.aux
	cap-05.aux
	main.aux
	main.blg
	main.log
	main.lot
	main.toc
	pre-texto.aux
.DS_Store
img/.DS_Store
